<div class="row py-3">
  <div class="col-md-4 mb-4 d-flex align-items-stretch" *ngFor="let cargador of cargadores">
    <div class="card charger-card text-center p-3 d-flex flex-column">
      <div class="card-body flex-grow-1 d-flex flex-column">
        <h5 class="card-title mb-3">{{ cargador.name }}</h5>
        <img [src]="cargador.imageUrl" class="card-img-top rounded mb-3" [alt]="cargador.name">
        <ul class="list-unstyled features">
          <li *ngFor="let feature of cargador.features">🔹 {{ feature }}</li>
        </ul>
        <p class="price">Precio: {{ cargador.price }} €</p>
        <p class="discounted-price">Con subvención (70%): <strong>{{ cargador.discountedPrice }} €</strong></p>
      </div>
      <!-- Botones alineados al final -->
      <div class="mt-auto">
        <button class="btn btn-outline-warning w-100 mb-2" (click)="openModal(cargador)">
          Detalles del cargador
        </button>
        <button class="btn btn-primary w-100" (click)="chooseCharger(cargador)">Elegir cargador</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal de detalles del cargador -->
<div class="modal fade" id="chargerModal" tabindex="-1" aria-labelledby="chargerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-style">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="chargerModalLabel">{{ selectedCharger?.name }} - Especificaciones</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="list-unstyled specifications">
          <li *ngFor="let spec of selectedCharger?.specifications">🔹 {{ spec }}</li>
        </ul>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-primary w-100" (click)="chooseCharger(selectedCharger)">Elegir cargador</button>
      </div>
    </div>
  </div>
</div>
  