/* Tarjeta de cargador */
.charger-card {
  max-width: 350px;
  margin: auto;
  border: 2px solid #ffcc00; /* Borde amarillo */
  border-radius: 15px;
  background: #1c1c1c; /* Fondo negro */
  color: #ffcc00; /* Texto amarillo */
  box-shadow: 0 8px 20px rgba(255, 204, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.charger-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(255, 204, 0, 0.3);
}

.card-title {
  font-weight: bold;
  font-size: 1.3rem;
  color: #ffcc00;
  font-family: "Montserrat", sans-serif;
}

.features {
  font-size: 1.2rem;
  color: #e0e0e0;
  font-family: "Montserrat", sans-serif;
}

.price {
  font-size: 1.1rem;
  color: #e0e0e0;
  font-family: "Montserrat", sans-serif;
}

.discounted-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffcc00; /* Precio con descuento en amarillo */
  font-family: "Montserrat", sans-serif;
}

/* Modal */
.modal-style {
  background: #2b2b2b; /* Fondo oscuro */
  color: #ffcc00; /* Texto amarillo */
  border-radius: 15px;
}

.modal-header,
.modal-footer {
  background: #1c1c1c; /* Fondo aún más oscuro para el encabezado y pie */
}

.modal-title {
  color: #ffcc00;
  font-size: 1.5rem;
  font-weight: bold;
}

.specifications li {
  font-size: 1rem;
  color: #e0e0e0; /* Texto de especificaciones en gris claro */
  margin-bottom: 10px;
}

.btn-outline-warning {
  border-color: #ffcc00;
  color: #ffcc00;
  transition: all 0.3s;
  font-family: "Montserrat", sans-serif;
}

.btn-outline-warning:hover {
  background-color: #ffcc00;
  color: #1c1c1c;
  font-family: "Montserrat", sans-serif;
}

.btn-primary {
  background-color: #ffcc00;
  border: none;
  color: #1c1c1c;
  font-family: "Montserrat", sans-serif;
}

.btn-primary:hover {
  background-color: #e6b800;
  color: #1c1c1c;
  font-family: "Montserrat", sans-serif;
}
