<section id="stats" #statsSection class="stats-section py-0 text-white position-relative">
    <div class="container position-relative text-center">
      <div class="stats-circle top-left">
        <h2 class="count display-4">
          {{ installationsCount }}+
        </h2>
        <p>Instalaciones en Hogares</p>
      </div>
      <div class="stats-circle bottom-right">
        <h2 class="count display-4" >
          {{ energySavedCount }} kWh
        </h2>
        <p>Energía Ahorrada</p>
      </div>
    </div>
  </section>