<section id="stats" #statsSection class="stats-section py-0 text-white position-relative">
    <div class="container position-relative text-center">
      <div class="stats-circle top-left">
        <h2 class="count display-4" style="font-family: 'Montserrat', sans-serif; font-size: 1.5rem;">
          {{ installationsCount }}+
        </h2>
        <p style="font-family: 'Montserrat', sans-serif; font-size: 1.25rem;">Instalaciones en Hogares</p>
      </div>
      <div class="stats-circle bottom-right">
        <h2 class="count display-4" style="font-family: 'Montserrat', sans-serif; font-size: 1.5rem;">
          {{ energySavedCount }} kWh
        </h2>
        <p style="font-family: 'Montserrat', sans-serif; font-size: 1.25rem;">Energía Ahorrada</p>
      </div>
    </div>
  </section>