<!-- Este el el top bar -->
<app-top-bar></app-top-bar>

<!-- Este es la navbar -->
<!-- <app-navbar></app-navbar> -->
<app-navbar2></app-navbar2>

<!-- Este es una diapositiva -->
<app-recarga1></app-recarga1>

<!-- Este es una diapositiva -->
<app-seccioncargadores1></app-seccioncargadores1>

<!-- Este es una diapositiva2 -->
<app-recarga2></app-recarga2>


<!-- home.component.html (o donde tengas la sección) -->
<section
  class="calculator-section py-5 text-center"
  style="font-family: 'Montserrat', sans-serif; background: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100%);"
>
  <div class="container position-relative">
    <h2 class="mb-3" style="color: #ffcc00; font-weight: bold;">
      ¿Quieres calcular cuánto costaría tu instalación?
    </h2>
    <p class="lead text-dark mb-4">
      ¡Es muy fácil! Descubre el coste aproximado de tu instalación y cuánto podrías ahorrar con nuestra calculadora.
    </p>
    <!-- Aquí, en lugar de href, llamamos a scrollToCalculadora() -->
    <a
      class="btn btn-warning btn-lg mb-5"
      style="border-radius: 50px; cursor: pointer;"
      (click)="scrollToCalculadora()"
      >Calcula tu ahorro ahora</a
    >

    <div class="row justify-content-center">
      <div class="col-lg-8">
        <app-calculadora-recarga (calculationCompleted)="updateMessage($event)"></app-calculadora-recarga>
      </div>
    </div>
  </div>
</section>


<!-- Sección de Cargadores -->
<section class="chargers-section py-1 text-center" style="font-family: 'Montserrat', sans-serif;">
  <div class="container">
    <h2 class="mb-3" style="color: #ffcc00; font-weight: bold;">Descubre e infórmate sobre nuestros cargadores</h2>
    <p class="lead text-dark mb-4">
      Tenemos la solución ideal para cargar tu vehículo eléctrico en casa o en tu empresa. Explora nuestras opciones y elige el cargador perfecto para ti.
    </p>
    <a href="#cargadores" class="btn btn-warning btn-lg mb-5" style="border-radius: 50px;">Ver todos los cargadores</a>
  </div>

  <div class="container-fluid my-5">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <app-tarjetas-cargadores (chargerSelected)="updateMessage($event)"></app-tarjetas-cargadores>
      </div>
    </div>
  </div>
</section>

<!-- Section FAQ -->
<app-faq></app-faq>

<!-- Este es el formulario de contacto -->
<!-- <app-formulario-contacto
  #contactFormSection
  [message]="contactMessage"></app-formulario-contacto> -->

<app-formulario-contacto2
  #contactFormSection
  [message]="contactMessage"></app-formulario-contacto2>

<!-- Sección de footer -->
<!-- <app-footer></app-footer> -->
<app-footer2></app-footer2>





