<!-- Este el el top bar -->
<app-top-bar></app-top-bar>

<!-- Este es la navbar -->
<app-navbar></app-navbar>

<!-- Este es una diapositiva -->
<app-recarga1></app-recarga1>

<!-- Este es una diapositiva2 -->
<app-recarga2></app-recarga2>

<!-- Contenedor para las tarjetas de cargadores -->
<div class="container-fluid my-5">
  <div class="row justify-content-center">
    <div class="col-lg-9">
      <app-tarjetas-cargadores
        (chargerSelected)="updateMessage($event)"
      ></app-tarjetas-cargadores>
    </div>
  </div>
</div>

<!-- Este es el formulario de contacto -->
<app-formulario-contacto
  #contactFormSection
  [message]="contactMessage"
></app-formulario-contacto>
