<section class="timeline-section py-5">
  <div class="container">
    <h2 class="text-center mb-5" style="color: #ffcc00;">UN PROCESO SENCILLO</h2>
    <div class="timeline-steps col-12">
      <div class="timeline-step">
        <div class="timeline-content">
          <div class="inner-circle">1</div>
          <h5 class="mt-3 mb-1" style="color: #ffcc00;">Tu estudio gratuito</h5>
          <p class="text-light mb-0">Simula tu presupuesto y haz tu pedido online o déjanos tus datos para prepararlo por ti.</p>
        </div>
      </div>
      <div class="timeline-step">
        <div class="timeline-content">
          <div class="inner-circle">2</div>
          <h5 class="mt-3 mb-1" style="color: #ffcc00;">Estudio de viabilidad</h5>
          <p class="text-light mb-0">Nuestros ingenieros verificarán que todo esté bien en una videollamada.</p>
        </div>
      </div>
      <div class="timeline-step">
        <div class="timeline-content">
          <div class="inner-circle">3</div>
          <h5 class="mt-3 mb-1" style="color: #ffcc00;">Manos a la obra</h5>
          <p class="text-light mb-0">Nuestros propios instaladores pondrán las placas en tu tejado.</p>
        </div>
      </div>
      <div class="timeline-step">
        <div class="timeline-content">
          <div class="inner-circle">4</div>
          <h5 class="mt-3 mb-1" style="color: #ffcc00;">Tu factura a 0€</h5>
          <p class="text-light mb-0">Empieza a disfrutar de tu ahorro en la factura de luz gracias a nuestras placas solares.</p>
        </div>
      </div>
    </div>
  </div>
</section>
