<!-- Sección de Introducción -->
<!-- Sección de Introducción -->
<section class="intro-section py-3">
    <div class="container-fluid">
      <h6 class="intro-subtitle text-uppercase">Soluciones Energéticas para Todos</h6>
      <h2 class="intro-title">Eficiencia y Sostenibilidad en Energía con Start Electrical Solutions</h2>
      <p class="intro-text">
        Nos especializamos en servicios de instalación de placas solares, cargadores de vehículos eléctricos, soluciones eléctricas para el hogar y servicios industriales. Nuestro compromiso es facilitar una transición hacia un futuro más limpio y eficiente para particulares, empresas e industrias.
      </p>
    </div>
</section>