<!-- Barra superior con llamada a la acción -->
<section class="top-bar bg-warning text-white py-1">
    <div class="container d-flex justify-content-between align-items-center">
      <!-- Teléfono -->
      <div class="contact-item d-flex align-items-center">
        <i class="bi bi-telephone-fill me-2"></i>
        <a href="tel:+34123456789" class="text-white text-decoration-none">+34 123 456 789</a>
      </div>
  
      <!-- Correo -->
      <div class="contact-item d-flex align-items-center">
        <i class="bi bi-envelope-fill me-2"></i>
        <a href="mailto:info@startes.com" class="text-white text-decoration-none">info&#64;startes.com</a>
      </div>
    </div>
  </section>