<!-- Este el el top bar -->
<app-top-bar></app-top-bar>

<!-- Este es la navbar -->
<app-navbar2></app-navbar2>

<!-- Section Slider Inicio -->
<app-slider1></app-slider1>

<!-- Sección de Impacto -->
<app-seccion-impacto></app-seccion-impacto>

<!-- Sección de Consultoría -->
 <app-formulario-contacto2></app-formulario-contacto2>
<!-- <app-formulario-contacto></app-formulario-contacto> -->


<!-- Ilustaciones Section -->
<div class="container-fluid my-5">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <app-servicios></app-servicios>
    </div>
  </div>
</div>

<!-- Sección Sobre nosotros -->
<app-about></app-about>


<!-- Adjunto Section -->
<app-adjunto1></app-adjunto1>


<!-- Stats Section -->
<app-stats></app-stats>

<!-- Services Section -->
<app-conjuntos-servicios></app-conjuntos-servicios>


<!-- Features Section -->
<app-features></app-features>


<!-- Sección Certificaciones -->
<app-trusted-companies></app-trusted-companies>

<!-- Sección Reviews -->
<app-customer-reviews></app-customer-reviews>


<!-- Sección Encuéntranos -->
<app-ubication></app-ubication>

<!-- Sección de Faq -->
<app-faq></app-faq>

<!-- Sección de Consultoría -->
<app-formulario-contacto2></app-formulario-contacto2>

<!-- Sección de footer -->
<app-footer2></app-footer2>
